extends layout

block content
  h1= title
  
  ul
  each address in address_list
    hr.line
    li 
      | <b>#{address.first_name}</b> <b>#{address.last_name}</b> 
      p
      a(href=address.url) #{address.address} 
      p
      a(href=address.url+'/delete') Delete Address 
      

  else
    li There are no addresses.